%ul.nav
  %li.active
    = link_to 'Home', '#home'
  %li
    = link_to 'Directions', '#directions'
  %li
    = link_to 'Places to Visit', '#places'
  %li
    = link_to 'Hotel+Travel', '#travel'
  %li
    = link_to 'The Cats', '#cats'
  %li
    = link_to 'Registry', '#registry'
